input {
  border: 0px solid #000000;
  border-bottom-width: 1px;
  background-color: transparent;
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

#my-word {
  list-style-type: none;
  display: block;
  float: left;
  white-space: nowrap;
}

li input {
  padding: 10px;
  margin-bottom: 5px;
}

#hold {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#counter {
  text-align: center;
}

#gameitem {
  list-style-type: none !important;
  display: block !important;
  padding-right: 0.6em !important;
  margin: 30px !important;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#gamepicture {
 
    width:  150px;
    height: 100px;
    
}
