input {
  border: 0px solid #000000;
  border-bottom-width: 1px;
  background-color: transparent;
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

li {
  list-style-type: none;
  display: block;
  float: left;
  white-space: nowrap;
}

li input {
  padding: 10px;
  margin-bottom: 5px;
}

#hold {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#counter {
  text-align: center;
}
